<?php
const XML_PATH_APPROVAL_REQUIRED = 'categoryactivator/categoryactivator_group/approval_required';
$updates = $this->getUpdates();
?>
<div style="padding: 5px;">
<button type="button" class="scalable" onclick="setLocation('<?php echo Mage::helper("adminhtml")->getUrl('adminhtml/activator/update/approved/1') ?>')"<?php if(!Mage::getStoreConfig(XML_PATH_APPROVAL_REQUIRED)) echo ' disabled' ?>><span>Update</span></button>
<button type="button" class="scalable" onclick="setLocation('<?php echo Mage::helper("adminhtml")->getUrl('adminhtml/activator/cancel') ?>')"<?php if(!Mage::getStoreConfig(XML_PATH_APPROVAL_REQUIRED)) echo ' disabled' ?>><span>Cancel</span></button>
</div>
<div style="border: 1px solid gray; padding: 5px;">
<?php
foreach($updates as $update):
?>
<div>
<?php echo 'Category #'.$update->getCategoryId().' should be '.($update->getSetActive() ? 'enabled.' : 'disabled.'); ?>
</div>
<?php
endforeach;
?>
</div>
